*,
::after,
::before {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Syne:wght@400;500;600;700;800&display=swap");

html {
  font-size: 100%;
}

:root {
  /* primary */
  --primary-100: #e9d0d3;
  --primary-200: #d4a2a6;
  --primary-300: #be737a;
  --primary-400: #a9454d;
  --primary-500: #931621;
  --primary-600: #76121a;
  --primary-700: #580d14;
  --primary-800: #3b090d;
  --primary-900: #1d0407;
  /* greys */
  --grey-100: #d3d5d6;
  --grey-200: #a7abad;
  --grey-300: #7b8085;
  --grey-400: #4f565c;
  --grey-500: #232c33;
  --grey-600: #151a1f;
  --grey-700: #1c2329;
  --grey-800: #0e1214;
  --grey-900: #07090a;
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #840329;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --header-blue: var(--primary-400);

  /* fonts */
  --heading-font: "Syne", sans-serif;
  --body-font: "Inter", sans-serif;
  --small-text: 0.7rem;
  /* rest of vars */
  --background-color: #f9fafe;
  --text-color: var(--grey-900);
  --btn-radius: 0.65rem;
  --border-radius: 1.25rem;
  --letter-spacing: 6px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1097px;
  --fixed-width: 600px;
  /* box shadow */
  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
body {
  background: var(--background-color);
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-color);
}
p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--heading-font);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  /* preserves aspect ratio */
  object-fit: cover;
}

img:not(.logo) {
  /* alt to affecting all imgs */
}

/* buttons */

.btn {
  display: inline-block;
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--btn-radius);
  padding: 0.4rem 1.25rem;
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.95rem;
  height: 2.5rem;
}
.white-btn {
  background: var(--white);
  color: var(--grey-800);
  box-shadow: none;
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.white-btn:hover {
  background: var(--primary-500);
  color: var(--white);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}

.btn-block {
  width: 100%;
}

/* alerts */

.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--border-radius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}

.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-1);
  padding: 2rem 2.5rem;
  /* reset margin if needed for centering */
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius);
  background: var(--background-color);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}
.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  /* control dynamically */
  color: var(--red-dark);
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
}

/* loading */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
}
/* ==================================== EXTRA ===================================== */

.title {
  text-align: center;
}
.section-title {
  color: var(--primary-800);
  font-size: 2.75rem;
  font-weight: 800;
  width: 98%;
  max-width: 44rem;
  text-align: center;
  text-transform: unset;
  margin: 0 auto;
}
.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
}
.section-center {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
}
.card-link {
  color: var(--white);
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: bold;
}
.card-link p {
  margin: 0;
}
.card-link i {
  padding-left: 0.5rem;
  transition: var(--transition);
}
.card-link:hover i {
  padding-left: 0.85rem;
}
.section-info {
  margin: 0 auto;
  text-align: center;
  padding-top: 1.75rem;
  color: var(--grey-400);
}
/* ========================================= NAV ========================================= */

.nav {
  width: 100vw;
  display: grid;
  top: 0;
  left: 0;
  position: fixed;
  background: var(--white);
  z-index: 10;
}
.nav-main {
  height: 4rem;
  width: 95%;
  margin: 0 auto;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
}
.nav-top-info {
  display: none;
}
.nav-info-links {
  display: none;
}
.nav-logo-cont {
  display: grid;
  place-content: center;
}
.nav-logo {
  display: flex;
}
.nav-logo i {
  font-size: 2.25rem;
  display: block;
  cursor: pointer;
  color: var(--primary-500);
}
.nav-logo-text {
  display: none;
}
#nav-btn {
  cursor: pointer;
  font-size: 2.2rem;
  background: transparent;
  border: none;
}
.nav-btn {
  display: none;
}
.nav-exit-btn {
  display: none;
  border-color: transparent;
  background: transparent;
  font-size: 1.75rem;
  color: var(--grey-300);
  transition: var(--transition);
}
.nav-end {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}
.nav-end-btn-cont {
  display: none;
}
.nav-main-service-container {
  display: none;
}
@media screen and (min-width: 792px) {
  .nav-top-info {
    display: grid;
    /* align-items: center; */
    height: 2.2rem;
    background-color: var(--primary-800);
    padding-top: 0.15rem;
  }
  .nav-top-info-cont {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
  }
  .nav-info-itms a {
    margin: 0;
    /* margin-left: 2rem; */
    color: var(--white);
    display: none;
  }
  .nav-top-info .active {
    display: inline-block;
  }

  .nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
  .nav-logo h1 {
    padding-top: 0.25rem;
    margin: 0;
  }
  .nav-logo-text {
    display: inline-block;
    font-size: 1.8rem;
    display: block;
    margin-left: 1rem;
    cursor: pointer;
    color: var(--primary-500);
    font-weight: 700;
  }
  .nav-end-btn-cont {
    padding: 0 1.5rem;
    display: flex;
    justify-content: left;
    gap: 1rem;
    border-right: 3px solid var(--grey-100);
  }
  .nav-top-info-cont {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1178px) {
  /* .nav-info-links-cont {
    display: grid;
    place-content: center;
  } */
  /* .nav-main {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
  } */
  .nav-info-links {
    display: flex;
    gap: 1rem;
    margin: 0;
  }
  .nav-info-link {
    text-transform: capitalize;
    color: var(--white);
    font-size: 0.85rem;
  }
  .nav-main-service-container {
    display: grid;
    place-content: center;
  }
  .nav-main-service-btns {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
  }
  .nav-main-service-btn button {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .nav-main-service-btn button i {
    margin-left: 0.25rem;
    color: var(--grey-100);
    font-size: 0.85rem;
  }
}

/* ========================================= HERO ========================================= */

.hero-center {
  position: relative;
}
.hero-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 756px;
  width: 100%;
  background: linear-gradient(rgba(147, 22, 33, 0.2), rgba(147, 22, 33, 0.5)),
    url(https://res.cloudinary.com/khoigoo-tawlee/image/upload/v1702952287/SynValor/dj-main_i55daq.jpg)
      center/cover no-repeat fixed;
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%;
}

.hero-main {
  /* height: 100%; */
  position: relative;
  z-index: 3;
}
.hero-title {
  color: var(--white);
  padding-top: 4.5rem;
  font-size: 3.75rem;
  font-weight: 800;
  text-transform: none;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  margin-top: 3rem;
}
/* .hero-title span {
  display: block;
} */
.hero-text {
  color: var(--white);
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
}
.hero-btn-cont {
  display: grid;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.hero-btn {
  height: 3rem;
  text-transform: none;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero-btn i {
  font-size: 1.2rem;
  color: var(--primary-300);
}
.hero-img {
  width: 90%;
  max-width: 55rem;
  border-radius: var(--border-radius);
  margin: 0 auto;
  box-shadow: var(--shadow-2);
}

@media screen and (min-width: 792px) {
  .hero-backdrop {
    height: 650px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  .hero-title {
    padding-top: 7.25rem;
  }
  .hero-btn-cont {
    display: flex;
    justify-content: center;
  }
  .hero-btn {
    font-size: 1rem;
  }
}

/* ========================================= SITE METRICS ========================================= */

.site-metrics {
  padding-top: 3rem;
}
.site-metrics-center {
}
.site-metrics-card {
}
.site-metrics-card h1 {
  color: var(--header-blue);
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.site-metrics-card p {
  color: var(--grey-600);
}
@media screen and (min-width: 792px) {
  .site-metrics-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1.5rem 1rem;
    text-align: center;
  }

  .site-metrics-card p {
    max-width: 18rem;
  }
}

/* 
TODO: 
1. Make .hero-main absolute and lie on top of hero-top
2. Create .hero-img below .hero-btn-cont...hopefully it works
*/

.test {
  height: 200vh;
  background: orange;
}

/* ========================================= JOIN PARTY ========================================= */
.join-party {
  margin-top: 5rem;
}
.join-party-section-center {
  padding-top: 6rem;
  margin-bottom: 5rem;
  display: grid;
  place-content: center;
}
.join-party-card {
  background: var(--primary-500);
  padding: 2.15rem 0 0 2rem;
  margin: 0 auto;
  width: 90%;
  max-width: 1300px;
  border-radius: var(--border-radius);
  color: var(--white);
  display: grid;
}
.join-party-title {
  font-weight: 700;
  font-size: 2rem;
  text-transform: unset;
  padding-right: 2rem;
}
.join-party-card-img-cont {
  /* display: none; */
  height: 300px;
  justify-self: end;
}
.join-party-card-img-cont img {
  height: 100%;
  width: 100%;
  border-bottom-right-radius: var(--border-radius);
  object-fit: cover;
}
.join-party .card-link {
  padding-bottom: 2rem;
}
@media screen and (min-width: 921px) {
  .join-party-card {
    padding: 2.15rem 0 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .join-party-card-img-cont {
    align-self: flex-end;
  }
  .join-party-title {
    padding-right: 0;
  }
}

/* .join-party-center {
  border-radius: var(--border-radius);
  background: var(--primary-500);
}
.join-party-info {
  color: var(--white);
  padding: 2rem 3.5rem;
}
.join-party h1 {
  font-size: 1.65rem;
  font-weight: 600;
  text-transform: unset;
}
.join-party-img-cont {
  height: 20rem;
  background: transparent;
}
.join-party-img {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  height: 100%;
}
@media screen and (min-width: 987px) {
  .join-party-center {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  .join-party-img-cont {
    height: 23rem;
  }
  .join-party-img {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: 0;
  }
} */

/* ========================================= STRATEGY ========================================= */
.wave-background-red {
  margin-top: 6rem;
  background: url(https://res.cloudinary.com/khoigoo-tawlee/image/upload/v1702952319/SynValor/new-wave_lh2sbc.png)
    center/cover no-repeat;

  height: 8rem;
  width: 100vw;
}
.strategy {
  background: var(--primary-200);
}

.strategy-center {
  padding-top: 6rem;
  padding-bottom: 20rem;
}
.strategy-cards-cont {
  margin-top: 5rem;
  display: grid;
  gap: 2rem 0;
}
.strategy-card {
  background: var(--primary-500);
  border-radius: var(--btn-radius);
  padding: 2.5rem 2rem;
  color: var(--white);
  box-shadow: var(--shadow-3);
}
.strategy-card-header {
  display: flex;
  justify-content: space-between;
}
.strategy-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.strategy-logo i {
  color: var(--primary-500);
  background: var(--white);
  border-radius: var(--btn-radius);
  padding: 0.5rem;
  text-align: center;
}
.strategy-logo h3 {
  margin: 0;
  font-size: 1.25rem;
}
.strategy-btn {
  background: var(--primary-400);
}
.strategy-card-info {
  margin-top: 2rem;
}
.strategy-card-info h2 {
  font-size: 1.5rem;
  text-transform: unset;
  font-weight: 600;
}
.strategy-card-info q {
  margin-top: 1rem;
}
/* .strategy-card-footer {
  margin-top: 3rem;
  display: flex;
  gap: 0.5rem;
  justify-content: left;
  align-items: center;
}
.strategy-card-footer a {
  color: var(--white);
} */
.strategy-img-cont {
  position: relative;
  width: 98%;
}
.strategy-img {
  width: 100%;
  height: 100%;
  max-width: 60rem;
  object-fit: cover;
  box-shadow: var(--shadow-2);
  border-radius: var(--border-radius);
}

@media screen and (min-width: 1170px) {
  .strategy-cards-cont {
    grid-template-columns: 1fr auto;
    gap: 0 1rem;
  }
}

/* ========================================= BUILD ========================================= */
.wave-background-white {
  margin-top: -9rem;
  background: url(https://res.cloudinary.com/khoigoo-tawlee/image/upload/v1702952345/SynValor/white-wave-bck_ervc30.png)
    center/cover no-repeat;

  height: 8rem;
  width: 100vw;
}
.build {
  background: var(--background-color);
}
.build-section-center {
  padding-top: 6rem;
  margin-bottom: 5rem;
  display: grid;
  place-content: center;
}
.build-card {
  background: var(--primary-700);
  padding: 2.15rem 2rem;
  margin: 0 auto;
  width: 90%;
  max-width: 1300px;
  border-radius: var(--border-radius);
  color: var(--white);
}
.build-title {
  font-weight: 700;
  font-size: 2rem;
  text-transform: unset;
}
.build-card-img-cont {
  display: none;
  max-height: 22rem;
}
@media screen and (min-width: 972px) {
  .build-card {
    padding: 2.15rem 0 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .build-card-img-cont {
    display: inline-block;
  }
  .build-card-img-cont img {
    height: 100%;
    width: 100%;
    justify-self: right;
    border-bottom-right-radius: var(--border-radius);
  }
}

/* ========================================= TOOLS ========================================= */
.tools {
  margin-bottom: 5rem;
}
.tools-cont {
  display: grid;
  padding-top: 5rem;
  gap: 1rem;
}
/* .tools-title-info {
  margin: 0 auto;
  text-align: center;
  padding-top: 1.75rem;
  color: var(--grey-400);
} */
.tool p {
  color: var(--grey-400);
  margin-top: 0;
  text-align: left;
}
.tool {
  box-shadow: var(--shadow-2);
  padding: 2.85rem 2rem 1.5rem 2rem;
  border-radius: var(--border-radius);
  text-align: center;
  cursor: pointer;
}
.tool:hover i {
  transform: translateY(-3%);
}
.tool:hover {
  box-shadow: var(--shadow-3);
}
.tool i {
  transition: var(--transition);
  color: var(--primary-500);
  font-size: 3rem;
  margin-bottom: 2rem;
}
.tool-title {
  font-weight: bold;
  color: var(--grey-600);
  font-size: 1rem;
  margin: 0;
}
.tool-text {
  max-width: unset;
}
@media screen and (min-width: 987px) {
  .tools-cont {
    grid-template-columns: 1fr 1fr;
    place-content: center;
  }
}

/* ========================================= QUICK TOUR ========================================= */
.quick-tour {
  display: none;
}

@media screen and (min-width: 1170px) {
  .quick-tour {
    color: var(--white);
    display: grid;
    background: var(--primary-500);
    width: 90%;
    max-width: 60rem;
    border-radius: var(--border-radius);
    place-content: center;
    padding: 1.5rem 0 1.5rem 0;
    margin: 0 auto;
    justify-content: left;
  }
  .quick-tour-section-center {
    padding-left: 3rem;
  }
  .quick-tour .section-title {
    text-align: left;
    margin-left: 0;
    color: var(--white);
    padding-bottom: 0.5rem;
  }
}

/* ====================================== PRODUCTS ====================================== */

.products-section-center > .card-link {
  padding-top: 1.5rem;
  color: var(--primary-500);
  word-spacing: 0.25rem;
  width: 15rem;
  justify-content: center;
  margin: 0 auto;
}
.products-cont {
  display: grid;
  padding-top: 2rem;
  gap: 1.5rem;
}
.product {
  box-shadow: var(--shadow-2);
  padding: 1.25rem;
  transition: var(--transition);
  border-radius: var(--border-radius);
}
.product:hover {
  box-shadow: var(--shadow-3);
}
.product-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--primary-500);
}
.product-title {
  font-size: 1.15rem;
  font-weight: bold;
}
.product-info {
  margin: 0;
}
.product > .card-link {
  color: var(--primary-500);
  padding-top: 1rem;
}
@media screen and (min-width: 792px) {
  .products {
    padding-top: 6rem;
  }
  .products-cont {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* ====================================== LEARN ====================================== */
.dataIncentive-disclaimer {
  color: var(--grey-300);
  font-size: 0.8rem;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  max-width: 66rem;
  padding-top: 4rem;
  margin-bottom: 5rem;
}

.learn .card-link {
  color: var(--primary-500);
}
.learning-resources {
  padding-top: 3rem;
  display: grid;
  gap: 1.15rem 0;
}
.learning-resource {
  box-shadow: var(--shadow-2);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-rows: auto 1fr;
  transition: var(--transition);
}
.learning-resource:hover {
  box-shadow: var(--shadow-3);
}
.learning-resource-img {
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}
.learning-resource-info {
  padding: 1.15rem 1.15rem;
}
.learning-resource-title {
  font-size: 1.15rem;
  font-weight: bold;
  margin: 0;
}
.learning-resource-text {
  color: var(--grey-400);
}
@media screen and (min-width: 792px) {
  .learning-resources {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    gap: 1rem;
  }
}
/* ==================================== GET STARTED TODAY ====================================== */
.get-started {
  background: var(--primary-200);
  padding-top: 4rem;
  padding-bottom: 6rem;
  margin-bottom: 5rem;
}
.get-started .section-info {
  color: var(--grey-500);
}
.get-started-section-center {
  display: grid;
  place-content: center;
}
.section-info {
  margin-bottom: 2rem;
}
.get-started-btn {
  text-align: center;
  width: 19rem;
  margin: 0 auto;

  text-transform: unset;
}
/* ==================================== FREE INCENTIVE ====================================== */
.free-incentive {
  margin-bottom: 5rem;
}
.free-incentive-section-center {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-4);
  padding: 1.5rem;
}
.free-incentive-section-center h3 {
  font-size: 1.35rem;

  font-weight: bold;
}
.free-incentive-section-center p {
  color: var(--grey-400);
}
.free-incentive-promo {
  font-size: 0.85rem;
}
.free-incentive-btn {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 792px) {
  .free-incentive-section-center {
    display: flex;
    justify-content: space-between;
  }
  .free-incentive-footer {
    display: grid;
  }
  .free-incentive-btn {
    justify-self: right;
    width: unset;
  }
}

/* ==================================== FOOTER ====================================== */
.footer {
  padding-bottom: 5rem;
}
.footer-top {
  width: 95%;
  max-width: 1088px;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.footer-top article:last-child {
  border-bottom: none;
}
.footer-nav-cont {
  border-bottom: 1px solid var(--grey-100);
}
.footer-nav-link-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-nav-links {
  display: none;
}

.footer-nav-link {
  padding-left: 0.15rem;
}
.footer-nav-link:hover a {
  color: var(--grey-200);
}
.footer-nav-link a {
  color: var(--grey-400);
  text-transform: capitalize;
  transition: var(--transition);
}
.footer-nav-link-header p {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 0;
  margin-bottom: 0.85rem;
}

.footer-icon {
  font-size: 2rem;
  color: var(--primary-500);
}
.footer-nav-link-btn {
  border-color: transparent;
  background: var(--background-color);
  font-size: 0.8rem;
  cursor: pointer;
}

#footer-nav-open {
  display: none;
}
.footer-bottom {
  display: grid;
}
.footer-info {
  display: flex;
  justify-content: center;
  gap: 0.85rem;
  align-items: center;
  font-size: 0.85rem;
  color: var(--grey-300);
}
.footer-info a {
  padding-bottom: 0.8rem;
  color: var(--grey-400);
}
.footer-info i {
  padding-bottom: 1rem;
}
.footer-company {
  color: var(--primary-500);
}
.footer-social-links {
  margin: 0 auto;
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 12rem;
}
.footer-social-links i {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--grey-400);
  transition: var(--transition);
}
.footer-social-links i:hover {
  color: var(--primary-500);
}
@media screen and (min-width: 749px) {
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: left;
  }
  .footer-nav-cont {
    border-bottom: none;
  }
  .footer-nav-link-btn {
    display: none;
  }
  .footer-nav-links {
    display: grid;
    gap: 0.5rem;
  }
}

@media screen and (min-width: 987px) {
  .footer-bottom {
    display: flex;
    width: 90%;
    max-width: 1088px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .footer-social-links {
    width: unset;
    margin: 0;
  }
}

/* ==================================== SIDEBAR ====================================== */
.sidebar {
  display: none;
}
.active {
  display: inline-block;
}
.sidebar-center {
  width: 95%;
  margin: 0 auto;
}
.sidebar-navigation {
  margin-bottom: 2rem;
}
.sidebar-nav-single {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey-100);
  padding: 0.65rem 0;
}
.sidebar-nav-title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
  color: var(--grey-400);
}
.sidebar-nav-btn {
  border-color: transparent;
  background: transparent;
  cursor: pointer;
}
.sidebar-nav-btn i {
  color: var(--grey-200);
  font-size: 0.75rem;
}
.user-btn-cont {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
}
.sidebar-signup {
}
.sidebar-login {
  border: 1px solid var(--grey-200);
  color: var(--grey-400);
  text-transform: capitalize;
}
.sidebar-login,
.sidebar-signup {
  width: 100%;
}
.sidebar-footer {
  display: grid;
  gap: 0.85rem;
  margin-bottom: 3rem;
}
#sidebar-footer-btn {
  border: 1px solid var(--grey-200);
}
#sidebar-footer-btn:hover {
  border-color: var(--primary-500);
  background: transparent;
  color: var(--primary-500);
}
@media screen and (min-width: 792px) {
  .user-btn-cont {
    display: none;
  }
}
